body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #878f99;
}
canvas {
  background-color: #1A1A1A;
  display: block;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
